*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
}

body{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.portrail{
    width: 50%;
    height: 100%;
    background-color: black;
}
.esq{
    width: 55%;
    justify-content: baseline;
    align-items: baseline;
}
.title{
    width: fit-content;
    height: fit-content;
    background-color: red;
    border: 2px solid white;
}
.dir{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;

    background-image: linear-gradient(45deg, #F27405,#F28705,#F29F05,#F2B705);


}

.grid-items{
    width: 500;
    height: 350px;
    display: grid;
    grid-template-areas:
     "item item item"
     "item item item";
    grid-gap:20px;
    place-self: center;
    padding:0;
}
.item{
    width: 150px;
    height: 150px;
    background-color: #262626;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    flex-direction: column;
}
.item:hover{
    
    color: black;
    background-color: white;
    box-shadow: 10px 10px 30px orangered;
    border: 1px solid orangered;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



#github{
    background-image: url('../imgs/imgs-white/icons8-github-64.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: center;
}
#github:hover{
    background-image: url('../imgs/imgs-black/icons8-github-64.png');
}
#linkedin{
    background-image: url('../imgs/imgs-white/icons8-linkedin-64.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: center;

}
#linkedin:hover{
    background-image: url('../imgs/imgs-black/icons8-linkedin-64.png');

}
#projects{
    background-image: url('../imgs/imgs-white/icons8-orthogonal-view-64.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: center;
}
#projects:hover{
    background-image: url('../imgs/imgs-black/icons8-orthogonal-view-64.png');

}
#about{
    background-image: url('../imgs/imgs-white/icons8-customer-64.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: center;
}
#about:hover{
    background-image: url('../imgs/imgs-black/icons8-customer-64.png');
}
#cnr{
    background-image: url('../imgs/imgs-white/icons8-graduation-cap-64.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: center;
}
#cnr:hover{
    background-image: url('../imgs/imgs-black/icons8-graduation-cap-64\ \(1\).png');
}
#contact{
    background-image: url('../imgs/imgs-white/icons8-gmail-logo-64.png');
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: center;
}
#contact:hover{
    background-image: url('../imgs/imgs-black/icons8-gmail-logo-64\ \(1\).png');
}

.txtbtn{
    text-align: center;
    text-decoration: none;
    margin-bottom: -100px;
}